<a href="https://colab.research.google.com/github/NganTran-0017/HIDS/blob/main/HIDS_Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Update remove duplicate between train and test --> create independent test
check why test set after removing the intersection (aka independent test) has no frequent record? --> no, set(independent test) has fewer records than independent test.
So the previous clean_data method removes duplication and overlap instances, while the new method (remove_duplicate) only removes overlap instance

In [68]:
#@title Specify parameters before running


SZ =  1#@param {type:"number"}         # Indicate a fraction number to sample train set when it's too big. Located in Data Partition

SEQ_WINDOW =  25#@param {type:"integer"} # Indicate the window length to parse the sequence into. Used in Data Parsing section

BATCH_SZ =  32#@param {type:"integer"} # Indicate the window length to parse the sequence into. Used in Data Parsing section

EPOCHS =  2#@param {type:"integer"} # Indicate the window length to parse the sequence into. Used in Data Parsing section

# Indicate to clean data or not. Used in Data Cleaning section
CLEAN = True #@param {type:"boolean"}

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, accuracy_score, roc_curve, auc, recall_score, precision_score,plot_confusion_matrix
from sklearn.model_selection import train_test_split
%matplotlib inline

import nltk
nltk.download("popular")

## Tokenizing syscall sequences into n-grams of 6

from nltk.tokenize import word_tokenize
from nltk import ngrams

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

#**Processing data**

Use the given datasets in our GitHub to load the data

## **ADFA-LD**

In [3]:
# Load ADFA-LD and unzip them
! wget 'https://github.com/NganTran-0017/HIDS/blob/main/Datasets/ADFA-LD/Training_Data_Master.zip?raw=true'
! wget 'https://github.com/NganTran-0017/HIDS/blob/main/Datasets/ADFA-LD/Attack_Data_Master.zip?raw=true'
# Rename files
! mv Attack_Data_Master.zip?raw=true   Attack_Data_Master.zip
! mv Training_Data_Master.zip?raw=true Training_Data_Master.zip

# Unzip files
! unzip Training_Data_Master.zip
! unzip Attack_Data_Master.zip

from glob import glob
import os
train_dir = 'Training_Data_Master/'
test_dir  = 'Attack_Data_Master/'

# Read data in a dataframe
def read_in_data(path, is_normal = 1): 
  lines = []
  if is_normal == 1:
    for filename in os.listdir(path): # iterate through all label folders in a directory 
      with open(path+filename) as f:
        lines.append(f.read())
       # data = pd.read_csv(path+filename, sep=' ', header=None)
       # list_of_dataframes.append(data.stack())
    
  else:
    for folder in os.listdir(path): # iterate through different attack folders in a directory
      files = glob(str(path + folder +"/*.txt"), recursive=False) # get a list of files from each label folder 
      for filename in files: 
        with open(filename) as f:
          lines.append(f.read())
        #data = pd.read_csv(filename, sep=' ', header=None)
        #lines.append(data.stack())

  df = pd.DataFrame(lines)
  return df   


# Trainning set
df = read_in_data(train_dir)
df.rename(columns={0:'Syscall Sequence'}, inplace=True)

print('Normal training data size:', df.shape)
print(df.head(5))

# Testing set
intrusiondf = read_in_data(test_dir, is_normal = 0)
intrusiondf.rename(columns={0:'Syscall Sequence'}, inplace=True)

print('Intrusion Testing data size:', intrusiondf.shape)
intrusiondf.head(5)

--2022-02-19 20:58:44--  https://github.com/NganTran-0017/HIDS/blob/main/Datasets/ADFA-LD/Training_Data_Master.zip?raw=true
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/NganTran-0017/HIDS/raw/main/Datasets/ADFA-LD/Training_Data_Master.zip [following]
--2022-02-19 20:58:44--  https://github.com/NganTran-0017/HIDS/raw/main/Datasets/ADFA-LD/Training_Data_Master.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/ADFA-LD/Training_Data_Master.zip [following]
--2022-02-19 20:58:44--  https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/ADFA-LD/Training_Data_Master.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 250132 (244K) [application/zip]
Saving to: ‘Training_Data_Master.zip?raw=true’

Training_Data_Maste 100%[===================>] 244.27K  --.-KB/s    in 0.05s

2022-02-19 20:58:44 (4.81 MB/s) - ‘Training_Data_Master.zip?raw=true’ saved [250132/250132]

--2022-02-19 20:58:44--  https://github.com/NganTran-0017/HIDS/blob/main/Datasets/ADFA-LD/Attack_Data_Master.zip?raw=true
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/NganTran-0017/HIDS/raw/main/Datasets/ADFA-LD/Attack_Data_Master.zip [following]
--2022-02-19 20:58:44--  https://github.com/NganTran-0017/HIDS/raw/main/Datasets/ADFA-LD/Attack_Data_Master.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/ADFA-LD/Attack_Data_Master.zip [following]
--2022-02-19 20:58:44--  https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/ADFA-LD/Attack_Data_Master.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 312358 (305K) [application/zip]
Saving to: ‘Attack_Data_Master.zip?raw=true’

Attack_Data_Master. 100%[===================>] 305.04K  --.-KB/s    in 0.04s

2022-02-19 20:58:44 (7.40 MB/s) - ‘Attack_Data_Master.zip?raw=true’ saved [312358/312358]

Archive:  Training_Data_Master.zip
  inflating: Training_Data_Master/UTD-0001.txt
  inflating: Training_Data_Master/UTD-0002.txt
  inflating: Training_Data_Master/UTD-0003.txt
  inflating: Training_Data_Master/UTD-0004.txt
  inflating: Training_Data_Master/UTD-0005.txt
  inflating: Training_Data_Master/UTD-0006.txt
  inflating: Training_Data_Master/UTD-0007.txt
  inflating: Training_Data_Master/UTD-0008.txt
  inflating: Training_Data_Master/UTD-0009.txt
  inflating: Training_Data_Master/UTD-0010.txt
  inflating: Training_Data_Master/UTD-0011.txt
  inflating: Training_Data_Master/UTD-0012.txt
  inflating: Training_Data_Master/UTD-0013.txt
  inflating: Training_Data_Master/UTD-0014.txt
  inflating: Training_Data_Master/UTD-0015.txt
  inflating: Training_Data_Master/UTD-0016.txt
  inflating: Training_Data_Master/UTD-0017.txt
  inflating: Training_Data_Master/UTD-0018.txt
  inflating: Training_Data_Master/UTD-0019.txt
  inflating: Training_Data_Master/UTD-0020.txt
  inflating: Training_Data_Master/UTD-0021.txt
  inflating: Training_Data_Master/UTD-0022.txt
  inflating: Training_Data_Master/UTD-0023.txt
  inflating: Training_Data_Master/UTD-0024.txt
  inflating: Training_Data_Master/UTD-0025.txt
  inflating: Training_Data_Master/UTD-0026.txt
  inflating: Training_Data_Master/UTD-0027.txt
  inflating: Training_Data_Master/UTD-0028.txt
  inflating: Training_Data_Master/UTD-0029.txt
  inflating: Training_Data_Master/UTD-0030.txt
  inflating: Training_Data_Master/UTD-0031.txt
  inflating: Training_Data_Master/UTD-0032.txt
  inflating: Training_Data_Master/UTD-0033.txt
  inflating: Training_Data_Master/UTD-0034.txt
  inflating: Training_Data_Master/UTD-0035.txt
  inflating: Training_Data_Master/UTD-0036.txt
  inflating: Training_Data_Master/UTD-0037.txt
  inflating: Training_Data_Master/UTD-0038.txt
  inflating: Training_Data_Master/UTD-0039.txt
  inflating: Training_Data_Master/UTD-0040.txt
  inflating: Training_Data_Master/UTD-0041.txt
  inflating: Training_Data_Master/UTD-0042.txt
  inflating: Training_Data_Master/UTD-0043.txt
  inflating: Training_Data_Master/UTD-0044.txt
  inflating: Training_Data_Master/UTD-0045.txt
  inflating: Training_Data_Master/UTD-0046.txt
  inflating: Training_Data_Master/UTD-0047.txt
  inflating: Training_Data_Master/UTD-0048.txt
  inflating: Training_Data_Master/UTD-0049.txt
  inflating: Training_Data_Master/UTD-0050.txt
  inflating: Training_Data_Master/UTD-0051.txt
  inflating: Training_Data_Master/UTD-0052.txt
  inflating: Training_Data_Master/UTD-0053.txt
  inflating: Training_Data_Master/UTD-0054.txt
  inflating: Training_Data_Master/UTD-0055.txt
  inflating: Training_Data_Master/UTD-0056.txt
  inflating: Training_Data_Master/UTD-0057.txt
  inflating: Training_Data_Master/UTD-0058.txt
  inflating: Training_Data_Master/UTD-0059.txt
  inflating: Training_Data_Master/UTD-0060.txt
  inflating: Training_Data_Master/UTD-0061.txt
  inflating: Training_Data_Master/UTD-0062.txt
  inflating: Training_Data_Master/UTD-0063.txt
  inflating: Training_Data_Master/UTD-0064.txt
  inflating: Training_Data_Master/UTD-0065.txt
  inflating: Training_Data_Master/UTD-0066.txt
  inflating: Training_Data_Master/UTD-0067.txt
  inflating: Training_Data_Master/UTD-0068.txt
  inflating: Training_Data_Master/UTD-0069.txt
  inflating: Training_Data_Master/UTD-0070.txt
  inflating: Training_Data_Master/UTD-0071.txt
  inflating: Training_Data_Master/UTD-0072.txt
  inflating: Training_Data_Master/UTD-0073.txt
  inflating: Training_Data_Master/UTD-0074.txt
  inflating: Training_Data_Master/UTD-0075.txt
  inflating: Training_Data_Master/UTD-0076.txt
  inflating: Training_Data_Master/UTD-0077.txt
  inflating: Training_Data_Master/UTD-0078.txt
  inflating: Training_Data_Master/UTD-0079.txt
  inflating: Training_Data_Master/UTD-0080.txt
  inflating: Training_Data_Master/UTD-0081.txt
  inflating: Training_Data_Master/UTD-0082.txt
  inflating: Training_Data_Master/UTD-0083.txt
  inflating: Training_Data_Master/UTD-0084.txt
  inflating: Training_Data_Master/UTD-0085.txt
  inflating: Training_Data_Master/UTD-0086.txt
  inflating: Training_Data_Master/UTD-0087.txt
  inflating: Training_Data_Master/UTD-0088.txt
  inflating: Training_Data_Master/UTD-0089.txt
  inflating: Training_Data_Master/UTD-0090.txt
  inflating: Training_Data_Master/UTD-0091.txt
  inflating: Training_Data_Master/UTD-0092.txt
  inflating: Training_Data_Master/UTD-0093.txt
  inflating: Training_Data_Master/UTD-0094.txt
  inflating: Training_Data_Master/UTD-0095.txt
  inflating: Training_Data_Master/UTD-0096.txt
  inflating: Training_Data_Master/UTD-0097.txt
  inflating: Training_Data_Master/UTD-0098.txt
  inflating: Training_Data_Master/UTD-0099.txt
  inflating: Training_Data_Master/UTD-0100.txt
  inflating: Training_Data_Master/UTD-0101.txt
  inflating: Training_Data_Master/UTD-0102.txt
  inflating: Training_Data_Master/UTD-0103.txt
  inflating: Training_Data_Master/UTD-0104.txt
  inflating: Training_Data_Master/UTD-0105.txt
  inflating: Training_Data_Master/UTD-0106.txt
  inflating: Training_Data_Master/UTD-0107.txt
  inflating: Training_Data_Master/UTD-0108.txt
  inflating: Training_Data_Master/UTD-0109.txt
  inflating: Training_Data_Master/UTD-0110.txt
  inflating: Training_Data_Master/UTD-0111.txt
  inflating: Training_Data_Master/UTD-0112.txt
  inflating: Training_Data_Master/UTD-0113.txt
  inflating: Training_Data_Master/UTD-0114.txt
  inflating: Training_Data_Master/UTD-0115.txt
  inflating: Training_Data_Master/UTD-0116.txt
  inflating: Training_Data_Master/UTD-0117.txt
  inflating: Training_Data_Master/UTD-0118.txt
  inflating: Training_Data_Master/UTD-0119.txt
  inflating: Training_Data_Master/UTD-0120.txt
  inflating: Training_Data_Master/UTD-0121.txt
  inflating: Training_Data_Master/UTD-0122.txt
  inflating: Training_Data_Master/UTD-0123.txt
  inflating: Training_Data_Master/UTD-0124.txt
  inflating: Training_Data_Master/UTD-0125.txt
  inflating: Training_Data_Master/UTD-0126.txt
  inflating: Training_Data_Master/UTD-0127.txt
  inflating: Training_Data_Master/UTD-0128.txt
  inflating: Training_Data_Master/UTD-0129.txt
  inflating: Training_Data_Master/UTD-0130.txt
  inflating: Training_Data_Master/UTD-0131.txt
  inflating: Training_Data_Master/UTD-0132.txt
  inflating: Training_Data_Master/UTD-0133.txt
  inflating: Training_Data_Master/UTD-0134.txt
  inflating: Training_Data_Master/UTD-0135.txt
  inflating: Training_Data_Master/UTD-0136.txt
  inflating: Training_Data_Master/UTD-0137.txt
  inflating: Training_Data_Master/UTD-0138.txt
  inflating: Training_Data_Master/UTD-0139.txt
  inflating: Training_Data_Master/UTD-0140.txt
  inflating: Training_Data_Master/UTD-0141.txt
  inflating: Training_Data_Master/UTD-0142.txt
  inflating: Training_Data_Master/UTD-0143.txt
  inflating: Training_Data_Master/UTD-0144.txt
  inflating: Training_Data_Master/UTD-0145.txt
  inflating: Training_Data_Master/UTD-0146.txt
  inflating: Training_Data_Master/UTD-0147.txt
  inflating: Training_Data_Master/UTD-0148.txt
  inflating: Training_Data_Master/UTD-0149.txt
  inflating: Training_Data_Master/UTD-0150.txt
  inflating: Training_Data_Master/UTD-0151.txt
  inflating: Training_Data_Master/UTD-0152.txt
  inflating: Training_Data_Master/UTD-0153.txt
  inflating: Training_Data_Master/UTD-0154.txt
  inflating: Training_Data_Master/UTD-0155.txt
  inflating: Training_Data_Master/UTD-0156.txt
  inflating: Training_Data_Master/UTD-0157.txt
  inflating: Training_Data_Master/UTD-0158.txt
  inflating: Training_Data_Master/UTD-0159.txt
  inflating: Training_Data_Master/UTD-0160.txt
  inflating: Training_Data_Master/UTD-0161.txt
  inflating: Training_Data_Master/UTD-0162.txt
  inflating: Training_Data_Master/UTD-0163.txt
  inflating: Training_Data_Master/UTD-0164.txt
  inflating: Training_Data_Master/UTD-0165.txt
  inflating: Training_Data_Master/UTD-0166.txt
  inflating: Training_Data_Master/UTD-0167.txt
  inflating: Training_Data_Master/UTD-0168.txt
  inflating: Training_Data_Master/UTD-0169.txt
  inflating: Training_Data_Master/UTD-0170.txt
  inflating: Training_Data_Master/UTD-0171.txt
  inflating: Training_Data_Master/UTD-0172.txt
  inflating: Training_Data_Master/UTD-0173.txt
  inflating: Training_Data_Master/UTD-0174.txt
  inflating: Training_Data_Master/UTD-0175.txt
  inflating: Training_Data_Master/UTD-0176.txt
  inflating: Training_Data_Master/UTD-0177.txt
  inflating: Training_Data_Master/UTD-0178.txt
  inflating: Training_Data_Master/UTD-0179.txt
  inflating: Training_Data_Master/UTD-0180.txt
  inflating: Training_Data_Master/UTD-0181.txt
  inflating: Training_Data_Master/UTD-0182.txt
  inflating: Training_Data_Master/UTD-0183.txt
  inflating: Training_Data_Master/UTD-0184.txt
  inflating: Training_Data_Master/UTD-0185.txt
  inflating: Training_Data_Master/UTD-0186.txt
  inflating: Training_Data_Master/UTD-0187.txt
  inflating: Training_Data_Master/UTD-0188.txt
  inflating: Training_Data_Master/UTD-0189.txt
  inflating: Training_Data_Master/UTD-0190.txt
  inflating: Training_Data_Master/UTD-0191.txt
  inflating: Training_Data_Master/UTD-0192.txt
  inflating: Training_Data_Master/UTD-0193.txt
  inflating: Training_Data_Master/UTD-0194.txt
  inflating: Training_Data_Master/UTD-0195.txt
  inflating: Training_Data_Master/UTD-0196.txt
  inflating: Training_Data_Master/UTD-0197.txt
  inflating: Training_Data_Master/UTD-0198.txt
  inflating: Training_Data_Master/UTD-0199.txt
  inflating: Training_Data_Master/UTD-0200.txt
  inflating: Training_Data_Master/UTD-0201.txt
  inflating: Training_Data_Master/UTD-0202.txt
  inflating: Training_Data_Master/UTD-0203.txt
  inflating: Training_Data_Master/UTD-0204.txt
  inflating: Training_Data_Master/UTD-0205.txt
  inflating: Training_Data_Master/UTD-0206.txt
  inflating: Training_Data_Master/UTD-0207.txt
  inflating: Training_Data_Master/UTD-0208.txt
  inflating: Training_Data_Master/UTD-0209.txt
  inflating: Training_Data_Master/UTD-0210.txt
  inflating: Training_Data_Master/UTD-0211.txt
  inflating: Training_Data_Master/UTD-0212.txt
  inflating: Training_Data_Master/UTD-0213.txt
  inflating: Training_Data_Master/UTD-0214.txt
  inflating: Training_Data_Master/UTD-0215.txt
  inflating: Training_Data_Master/UTD-0216.txt
  inflating: Training_Data_Master/UTD-0217.txt
  inflating: Training_Data_Master/UTD-0218.txt
  inflating: Training_Data_Master/UTD-0219.txt
  inflating: Training_Data_Master/UTD-0220.txt
  inflating: Training_Data_Master/UTD-0221.txt
  inflating: Training_Data_Master/UTD-0222.txt
  inflating: Training_Data_Master/UTD-0223.txt
  inflating: Training_Data_Master/UTD-0224.txt
  inflating: Training_Data_Master/UTD-0225.txt
  inflating: Training_Data_Master/UTD-0226.txt
  inflating: Training_Data_Master/UTD-0227.txt
  inflating: Training_Data_Master/UTD-0228.txt
  inflating: Training_Data_Master/UTD-0229.txt
  inflating: Training_Data_Master/UTD-0230.txt
  inflating: Training_Data_Master/UTD-0231.txt
  inflating: Training_Data_Master/UTD-0232.txt
  inflating: Training_Data_Master/UTD-0233.txt
  inflating: Training_Data_Master/UTD-0234.txt
  inflating: Training_Data_Master/UTD-0235.txt
  inflating: Training_Data_Master/UTD-0236.txt
  inflating: Training_Data_Master/UTD-0237.txt
  inflating: Training_Data_Master/UTD-0238.txt
  inflating: Training_Data_Master/UTD-0239.txt
  inflating: Training_Data_Master/UTD-0240.txt
  inflating: Training_Data_Master/UTD-0241.txt
  inflating: Training_Data_Master/UTD-0242.txt
  inflating: Training_Data_Master/UTD-0243.txt
  inflating: Training_Data_Master/UTD-0244.txt
  inflating: Training_Data_Master/UTD-0245.txt
  inflating: Training_Data_Master/UTD-0246.txt
  inflating: Training_Data_Master/UTD-0247.txt
  inflating: Training_Data_Master/UTD-0248.txt
  inflating: Training_Data_Master/UTD-0249.txt
  inflating: Training_Data_Master/UTD-0250.txt
  inflating: Training_Data_Master/UTD-0251.txt
  inflating: Training_Data_Master/UTD-0252.txt
  inflating: Training_Data_Master/UTD-0253.txt
  inflating: Training_Data_Master/UTD-0254.txt
  inflating: Training_Data_Master/UTD-0255.txt
  inflating: Training_Data_Master/UTD-0256.txt
  inflating: Training_Data_Master/UTD-0257.txt
  inflating: Training_Data_Master/UTD-0258.txt
  inflating: Training_Data_Master/UTD-0259.txt
  inflating: Training_Data_Master/UTD-0260.txt
  inflating: Training_Data_Master/UTD-0261.txt
  inflating: Training_Data_Master/UTD-0262.txt
  inflating: Training_Data_Master/UTD-0263.txt
  inflating: Training_Data_Master/UTD-0264.txt
  inflating: Training_Data_Master/UTD-0265.txt
  inflating: Training_Data_Master/UTD-0266.txt
  inflating: Training_Data_Master/UTD-0267.txt
  inflating: Training_Data_Master/UTD-0268.txt
  inflating: Training_Data_Master/UTD-0269.txt
  inflating: Training_Data_Master/UTD-0270.txt
  inflating: Training_Data_Master/UTD-0271.txt
  inflating: Training_Data_Master/UTD-0272.txt
  inflating: Training_Data_Master/UTD-0273.txt
  inflating: Training_Data_Master/UTD-0274.txt
  inflating: Training_Data_Master/UTD-0275.txt
  inflating: Training_Data_Master/UTD-0276.txt
  inflating: Training_Data_Master/UTD-0277.txt
  inflating: Training_Data_Master/UTD-0278.txt
  inflating: Training_Data_Master/UTD-0279.txt
  inflating: Training_Data_Master/UTD-0280.txt
  inflating: Training_Data_Master/UTD-0281.txt
  inflating: Training_Data_Master/UTD-0282.txt
  inflating: Training_Data_Master/UTD-0283.txt
  inflating: Training_Data_Master/UTD-0284.txt
  inflating: Training_Data_Master/UTD-0285.txt
  inflating: Training_Data_Master/UTD-0286.txt
  inflating: Training_Data_Master/UTD-0287.txt
  inflating: Training_Data_Master/UTD-0288.txt
  inflating: Training_Data_Master/UTD-0289.txt
  inflating: Training_Data_Master/UTD-0290.txt
  inflating: Training_Data_Master/UTD-0291.txt
  inflating: Training_Data_Master/UTD-0292.txt
  inflating: Training_Data_Master/UTD-0293.txt
  inflating: Training_Data_Master/UTD-0294.txt
  inflating: Training_Data_Master/UTD-0295.txt
  inflating: Training_Data_Master/UTD-0296.txt
  inflating: Training_Data_Master/UTD-0297.txt
  inflating: Training_Data_Master/UTD-0298.txt
  inflating: Training_Data_Master/UTD-0299.txt
  inflating: Training_Data_Master/UTD-0300.txt
  inflating: Training_Data_Master/UTD-0301.txt
  inflating: Training_Data_Master/UTD-0302.txt
  inflating: Training_Data_Master/UTD-0303.txt
  inflating: Training_Data_Master/UTD-0304.txt
  inflating: Training_Data_Master/UTD-0305.txt
  inflating: Training_Data_Master/UTD-0306.txt
  inflating: Training_Data_Master/UTD-0307.txt
  inflating: Training_Data_Master/UTD-0308.txt
  inflating: Training_Data_Master/UTD-0309.txt
  inflating: Training_Data_Master/UTD-0310.txt
  inflating: Training_Data_Master/UTD-0311.txt
  inflating: Training_Data_Master/UTD-0312.txt
  inflating: Training_Data_Master/UTD-0313.txt
  inflating: Training_Data_Master/UTD-0314.txt
  inflating: Training_Data_Master/UTD-0315.txt
  inflating: Training_Data_Master/UTD-0316.txt
  inflating: Training_Data_Master/UTD-0317.txt
  inflating: Training_Data_Master/UTD-0318.txt
  inflating: Training_Data_Master/UTD-0319.txt
  inflating: Training_Data_Master/UTD-0320.txt
  inflating: Training_Data_Master/UTD-0321.txt
  inflating: Training_Data_Master/UTD-0322.txt
  inflating: Training_Data_Master/UTD-0323.txt
  inflating: Training_Data_Master/UTD-0324.txt
  inflating: Training_Data_Master/UTD-0325.txt
  inflating: Training_Data_Master/UTD-0326.txt
  inflating: Training_Data_Master/UTD-0327.txt
  inflating: Training_Data_Master/UTD-0328.txt
  inflating: Training_Data_Master/UTD-0329.txt
  inflating: Training_Data_Master/UTD-0330.txt
  inflating: Training_Data_Master/UTD-0331.txt
  inflating: Training_Data_Master/UTD-0332.txt
  inflating: Training_Data_Master/UTD-0333.txt
  inflating: Training_Data_Master/UTD-0334.txt
  inflating: Training_Data_Master/UTD-0335.txt
  inflating: Training_Data_Master/UTD-0336.txt
  inflating: Training_Data_Master/UTD-0337.txt
  inflating: Training_Data_Master/UTD-0338.txt
  inflating: Training_Data_Master/UTD-0339.txt
  inflating: Training_Data_Master/UTD-0340.txt
  inflating: Training_Data_Master/UTD-0341.txt
  inflating: Training_Data_Master/UTD-0342.txt
  inflating: Training_Data_Master/UTD-0343.txt
  inflating: Training_Data_Master/UTD-0344.txt
  inflating: Training_Data_Master/UTD-0345.txt
  inflating: Training_Data_Master/UTD-0346.txt
  inflating: Training_Data_Master/UTD-0347.txt
  inflating: Training_Data_Master/UTD-0348.txt
  inflating: Training_Data_Master/UTD-0349.txt
  inflating: Training_Data_Master/UTD-0350.txt
  inflating: Training_Data_Master/UTD-0351.txt
  inflating: Training_Data_Master/UTD-0352.txt
  inflating: Training_Data_Master/UTD-0353.txt
  inflating: Training_Data_Master/UTD-0354.txt
  inflating: Training_Data_Master/UTD-0355.txt
  inflating: Training_Data_Master/UTD-0356.txt
  inflating: Training_Data_Master/UTD-0357.txt
  inflating: Training_Data_Master/UTD-0358.txt
  inflating: Training_Data_Master/UTD-0359.txt
  inflating: Training_Data_Master/UTD-0360.txt
  inflating: Training_Data_Master/UTD-0361.txt
  inflating: Training_Data_Master/UTD-0362.txt
  inflating: Training_Data_Master/UTD-0363.txt
  inflating: Training_Data_Master/UTD-0364.txt
  inflating: Training_Data_Master/UTD-0365.txt

                                    Syscall Sequence
0  3 3 168 168 3 168 168 3 168 3 3 265 265 265 16...
1  3 168 3 168 146 168 168 168 168 3 3 3 3 3 3 3 ...
2  240 240 240 240 240 240 240 240 240 240 240 24...
3  3 168 265 168 168 3 146 3 168 13 168 168 146 1...
4  168 168 168 168 168 168 168 168 168 168 168 16...

## **UNM and MIT Lpr**

In [70]:
  ## Uncomment each line to load Normal data

# Synthetic sendmail csv_file = ['bounce-1.int', 'bounce.int', 'bounce-2.int', 'plus.int', 'queue.int', 'sendmail.daemon.int', 'sendmail.log.int']; DATA = 'Synthetic Sendmail'; DATA_I='Synthetic_Sendmail'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/normal-data/bounce-1.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/normal-data/bounce.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/normal-data/bounce-2.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/normal-data/plus.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/normal-data/queue.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/normal-data/sendmail.daemon.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/normal-data/sendmail.log.int'

# LIVE LPR 
csv_file = ['lpr-normal-10.txt', 'lpr-normal-11.txt']; DATA = 'Live Lpr'; DATA_I='Live-Lpr' 
!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/4.%20Live%20lpr/Normal/real/lpr-normal-11.txt'
!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/4.%20Live%20lpr/Normal/real/lpr-normal-10.txt'

# MIT live lpr csv_file = [ 'mit-lpr-mar.txt']; DATA = 'MIT Live Lpr'; DATA_I='MIT-Lpr' 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/MIT/mit-lpr-mar.txt'

# LOGIN and PS csv_file = [ 'login-normal.txt', 'ps-normal.txt']; DATA = 'Login and Ps'; DATA_I ="Login-and-Ps"
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/7.Login_and_ps/normal/login-normal.txt'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/7.Login_and_ps/normal/ps-normal.txt'

# INETD csv_file = [ 'inetd-live-unm.int']; DATA = 'Inetd';DATA_I ="Inetd" 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/8.Inetd/inetd-live-unm.int'

# STIDE csv_file = [ 'stide-normal-500k.txt']; DATA = 'Stide';DATA_I ='Stide' 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/10.Stide/stide-normal-500k.txt'

# Live Named  csv_file = [ 'normal-named-live-2k.txt']; DATA = 'Live Named';DATA_I ='Live-Named' 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/6.Live_named/normal-named-live-2k.txt'

# Xlock csv_file = [ 'normal-xlock.txt']; DATA = 'Xlock';DATA_I='Xlock' 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/5.xlock/normal-xlock.txt'

# Synthetic Ftp 
#csv_file = [ 'nonself1.int','nonself2.int']; DATA = 'Synthetic Ftp'; DATA_I='Synthetic-Ftp'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/2.Synthetic%20Ftp/nonself1.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/2.Synthetic%20Ftp/nonself2.int'

# Synthetic lpr csv_file = ['syn.int']; DATA = 'Synthetic Lpr';DATA_I='Synthetic-Lpr'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/3.Synthetic-lpr/syn.int'




# Concat a list of files into normal df
list_of_dataframes = []
for filename in csv_file:
    list_of_dataframes.append(pd.read_csv(filename, sep=' ', header=None, engine='python'))
df = pd.concat(list_of_dataframes)

# Check number of columns, if > 2, then drop the excess
if len(df.columns) > 2:
    df=df.drop(labels=None, axis=1, columns = [2,3])
df =df.rename(columns= {0:"PID", 1:"Syscall"})

print('Normal data size:', df.shape)


  ## Uncomment each line to load Intrusion data:

# Synthetic sendmail csv_file = ['sm-10763.int', 'fwd-loops-1.int', 'fwd-loops-2.int', 'fwd-loops-3.int', 'fwd-loops-4.int', 'fwd-loops-5.int','sm-280.int', 'sm-314.int','sm-10801.int', 'sm-10814.int']
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/fwd-loops-1.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/fwd-loops-2.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/fwd-loops-3.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/fwd-loops-4.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/fwd-loops-5.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/sm-10763.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/sm-280.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/sm-314.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/sm-10801.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/1.Synthetic%20Sendmail/Intrusion-trace-data/sm-10814.int'

# LIVE LPR 
csv_file =['exploit-unm.int'] 
!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/4.%20Live%20lpr/Intrusion/exploit-unm.int'

# MIT live lpr csv_file = [ 'exploit-ai.int'] 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/MIT/exploit-ai.int'

# LOGIN and PS csv_file = [ 'login-homegrown.int','ps-homegrown.int','login-recovered.int','ps-recovered.int']
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/7.Login_and_ps/intrusion/ps-recovered.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/7.Login_and_ps/intrusion/ps-homegrown.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/7.Login_and_ps/intrusion/login-recovered.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/7.Login_and_ps/intrusion/login-homegrown.int'

# INETD csv_file = [ 'inetd-intrusion.int'] 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/8.Inetd/intrusion/inetd-intrusion.int'

# STIDE csv_file = [ 'stide-intrusion'] 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/10.Stide/intrusion/stide-intrusion'

# Live Named  csv_file = [ 'exploit-1.int','exploit-2.int'] 
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/6.Live_named/intrusion/exploit-1.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/6.Live_named/intrusion/exploit-2.int'

# Xlock csv_file = [ 'nonself.cs.unm.edu-07.24.97-xlock-2822_new.log.int', 'nonself.cs.unm.edu-07.25.97-xlock-2691_new.log.int']
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/5.xlock/intrusion/nonself.cs.unm.edu-07.25.97-xlock-2691_new.log.int'
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/5.xlock/intrusion/nonself.cs.unm.edu-07.24.97-xlock-2822_new.log.int'

# Synthetic Ftp csv_file = [ 'exploit2.int']
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/2.Synthetic%20Ftp/intrusion/exploit2.int'

# Synthetic Lpr csv_file = [ 'exploit-unm.int']
#!wget 'https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/3.Synthetic-lpr/intrusion/exploit-unm.int'

list_of_dataframes = []
for filename in csv_file:
    list_of_dataframes.append(pd.read_csv(filename, sep=' ', header=None, engine='python'))
intrusiondf = pd.concat(list_of_dataframes)

if len(intrusiondf.columns) > 2:
    intrusiondf = intrusiondf.drop(labels=None, axis=1, columns = [2,3])
intrusiondf = intrusiondf.rename(columns= {0:"PID", 1:"Syscall"})

print('intrusion data size: ', intrusiondf.shape)

print('Normal:',df.head(3))
#print(df['PID'].value_counts())
print('Intrusion:',intrusiondf.head())

--2022-02-19 21:25:25--  https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/4.%20Live%20lpr/Normal/real/lpr-normal-11.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 210128 (205K) [text/plain]
Saving to: ‘lpr-normal-11.txt.1’

lpr-normal-11.txt.1 100%[===================>] 205.20K  --.-KB/s    in 0.04s

2022-02-19 21:25:25 (4.99 MB/s) - ‘lpr-normal-11.txt.1’ saved [210128/210128]

--2022-02-19 21:25:26--  https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/4.%20Live%20lpr/Normal/real/lpr-normal-10.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1696016 (1.6M) [text/plain]
Saving to: ‘lpr-normal-10.txt.1’

lpr-normal-10.txt.1 100%[===================>]   1.62M  --.-KB/s    in 0.09s

2022-02-19 21:25:26 (18.0 MB/s) - ‘lpr-normal-10.txt.1’ saved [1696016/1696016]

Normal data size: (187102, 2)
--2022-02-19 21:25:27--  https://raw.githubusercontent.com/NganTran-0017/HIDS/main/Datasets/UNM/4.%20Live%20lpr/Intrusion/exploit-unm.int
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1829578 (1.7M) [text/plain]
Saving to: ‘exploit-unm.int.1’

exploit-unm.int.1   100%[===================>]   1.74M  --.-KB/s    in 0.07s

2022-02-19 21:25:27 (24.4 MB/s) - ‘exploit-unm.int.1’ saved [1829578/1829578]

intrusion data size:  (164232, 2)
Normal:     PID  Syscall
0  3553        4
1  3553        2
2  3553       66
Intrusion:      PID  Syscall
0  22799        4
1  22799        2
2  22799       66
3  22799       66
4  22799        4

**Change to covert all syscall of 1 PID into a data record. Pasrse each data record to a length of 10 or 15, clean frequent records.**

In [71]:
intrusiondf

          PID  Syscall
0       22799        4
1       22799        2
2       22799       66
3       22799       66
4       22799        4
...       ...      ...
164227  28967        9
164228  28967        9
164229  28967        5
164230  28967        5
164231  28967        5

[164232 rows x 2 columns]

**Create syscall sequence per pid**

In [72]:
# This function groups data by PID, so the sequences appear by PID instead of by order, in case it was interrupted by other PID
## It returns a dict with PID as key and syscall seq as item
def group_syscalls_by_pid (data):
  seq_per_pid = {}
  for p in data['PID'].unique():
    filt = data['PID'] == p
    seq = data.loc[filt]['Syscall'].values.astype(str)
    seq_per_pid[p] = ' '.join(seq)
  return seq_per_pid

if df.shape[1] == 2:
  print('Number of unique PID in normal data:', len(df['PID'].value_counts()))
  print('Number of unique PID in intrusion data:', len(intrusiondf['PID'].value_counts()))

  # Group normal df by PID and drop PID column
  normal_seq_per_pid = group_syscalls_by_pid(df)
  print('Number of unique PID in normal:', len(normal_seq_per_pid))
  #print('Normal PIDs and its sequences: ',normal_seq_per_pid)

  # Do the same thing to intrusion PID
  intrusion_seq_per_pid = group_syscalls_by_pid(intrusiondf)
  print('Number of unique PID in intrusion:', len(intrusion_seq_per_pid))
  #print('Intrusion PIDs and its sequences: ', intrusion_seq_per_pid)

else:
  print('ADFA-LD data does not have PID column')

Number of unique PID in normal data: 567
Number of unique PID in intrusion data: 1001
Number of unique PID in normal: 567
Number of unique PID in intrusion: 1001

In [73]:
# Drop a sequence if its total len is less than 3
def remove_small_seq(pid_seq_dict):
  removed_pid = []
  for pid in pid_seq_dict:
    seq_list = pid_seq_dict[pid].split()
    if len(seq_list) < 3:
      print('Remove PID %d which only has %d syscals in its sequence: %s' % (pid, len(seq_list), pid_seq_dict[pid]))
      removed_pid.append(pid)

  [pid_seq_dict.pop(pid) for pid in removed_pid]
  return pid_seq_dict

# Clean small intrusion sequences
print('Clean small normal seq: \nNum PID in Normal before:', len(normal_seq_per_pid))
normal_seq_per_pid = remove_small_seq(normal_seq_per_pid)
df = pd.DataFrame.from_dict(normal_seq_per_pid, orient = 'index', columns=['Syscall Sequence'] )
print('Num PID in Normal after:', len(normal_seq_per_pid))

# Clean small intrusion sequences
print('\n\nClean small intrusion seq: \nNum PID in Intrusion before:', len(intrusion_seq_per_pid))
intrusion_seq_per_pid = remove_small_seq(intrusion_seq_per_pid)
intrusiondf = pd.DataFrame.from_dict(intrusion_seq_per_pid, orient = 'index', columns=['Syscall Sequence'] )
print('Num PID in Intrusion after:', len(intrusion_seq_per_pid))

Clean small normal seq:
Num PID in Normal before: 567
Num PID in Normal after: 567


Clean small intrusion seq:
Num PID in Intrusion before: 1001
Num PID in Intrusion after: 1001

## **Data Parsing**

In [74]:
df

                                        Syscall Sequence
3553   4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
3833   4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
3870   4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
4478   4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
4488   4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
...                                                  ...
28007  4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
28014  4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
28148  4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
28156  4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...
28187  4 2 66 66 4 138 66 5 23 45 4 27 66 5 4 2 66 66...

[567 rows x 1 columns]

In [75]:
## Parse an entire Syscall seq per PID into smaller sequences of size 15
def parse_seq(seq_per_pid):
  sequences = pd.DataFrame()
  for _, row in seq_per_pid.iterrows():
    token = word_tokenize(row['Syscall Sequence'])  # Tokenize the string of sequence
 
    # Parse the sequence into length of 15
    sequences=sequences.append(list(nltk.ngrams(token, SEQ_WINDOW, pad_right=True, right_pad_symbol=-1)))
    #print('PID %d - seq len: %d'% (p, len(sequences)))
  return sequences

#normal = parse_seq(normal_seq_per_pid)
normal = parse_seq(df)
normal

     0    1    2    3    4    5   6   7   ...  17  18  19  20  21   22   23   24
0     4    2   66   66    4  138  66   5  ...  66  66   5   4   2   66   66    5
1     2   66   66    4  138   66   5  23  ...  66   5   4   2  66   66    5    5
2    66   66    4  138   66    5  23  45  ...   5   4   2  66  66    5    5  105
3    66    4  138   66    5   23  45   4  ...   4   2  66  66   5    5  105  104
4     4  138   66    5   23   45   4  27  ...   2  66  66   5   5  105  104  104
..   ..  ...  ...  ...  ...  ...  ..  ..  ...  ..  ..  ..  ..  ..  ...  ...  ...
174   2    5    5    5    5   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
175   5    5    5    5   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
176   5    5    5   -1   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
177   5    5   -1   -1   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
178   5   -1   -1   -1   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1

[187102 rows x 25 columns]

In [76]:
print('Parsing Intrusion')
intrusion = parse_seq(intrusiondf)
intrusion

Parsing Intrusion

     0    1    2    3    4    5   6   7   ...  17  18  19  20  21   22   23   24
0     4    2   66   66    4  138  66   5  ...  66  66   5   4   2   66   66    5
1     2   66   66    4  138   66   5  23  ...  66   5   4   2  66   66    5    5
2    66   66    4  138   66    5  23  45  ...   5   4   2  66  66    5    5  105
3    66    4  138   66    5   23  45   4  ...   4   2  66  66   5    5  105  104
4     4  138   66    5   23   45   4  27  ...   2  66  66   5   5  105  104  104
..   ..  ...  ...  ...  ...  ...  ..  ..  ...  ..  ..  ..  ..  ..  ...  ...  ...
183   9    9    5    5    5   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
184   9    5    5    5   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
185   5    5    5   -1   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
186   5    5   -1   -1   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1
187   5   -1   -1   -1   -1   -1  -1  -1  ...  -1  -1  -1  -1  -1   -1   -1   -1

[164232 rows x 25 columns]

Start tokenizing system calls into n-grams as specified in the params at the top of the page.

## **Preparing data for data partition**
- Combine data and labels together. 
- Combine data from each class together --> Create a pool of data 
- Split data pool into train and test

## **Cleaning**
- Remove dupplication between train and test

- 2 directions for Testing set:
  *  Test with clean data: Remove overlap and dupplication between Normal and Intrusion in Test data
  *  Test with Unclean data: Leave Test data as is

- 2 directions Training set:
  *   Clean model: Remove overlap and dupplication between Normal and Intrusion in Train data
  *   Unclean model: Leave Train data as is

**Add Label to Data**

In [77]:
# Intrusion sequences is labeled 1.
intrusion['Label'] = 1
intrusion.head(5)

    0    1    2    3    4    5   6   7  ...  18  19  20  21   22   23   24 Label
0   4    2   66   66    4  138  66   5  ...  66   5   4   2   66   66    5     1
1   2   66   66    4  138   66   5  23  ...   5   4   2  66   66    5    5     1
2  66   66    4  138   66    5  23  45  ...   4   2  66  66    5    5  105     1
3  66    4  138   66    5   23  45   4  ...   2  66  66   5    5  105  104     1
4   4  138   66    5   23   45   4  27  ...  66  66   5   5  105  104  104     1

[5 rows x 26 columns]

In [78]:
# Normal sequences is labeled 0.
print('Normal len:',len(normal),'\nIntrusion len:', len(intrusion))
normal['Label'] = 0
normal.head(5)

Normal len: 187102
Intrusion len: 164232

    0    1    2    3    4    5   6   7  ...  18  19  20  21   22   23   24 Label
0   4    2   66   66    4  138  66   5  ...  66   5   4   2   66   66    5     0
1   2   66   66    4  138   66   5  23  ...   5   4   2  66   66    5    5     0
2  66   66    4  138   66    5  23  45  ...   4   2  66  66    5    5  105     0
3  66    4  138   66    5   23  45   4  ...   2  66  66   5    5  105  104     0
4   4  138   66    5   23   45   4  27  ...  66  66   5   5  105  104  104     0

[5 rows x 26 columns]

## **Partition Training and Testing dataset 70/30**
- Combine both classes together then split data.
- We do not need to bootstrap since there are more than enough data from both classes.

In [79]:
# combine normal(train) and intrusion(test) data and split them into training and testing sets
df = normal.append(intrusion, ignore_index=True).astype(int)
print('Df sz:', df.shape)

# Spliting into training and testing
x_train, x_test, y_train, y_test = train_test_split(df, df['Label'], test_size = 0.30, shuffle=True)

# Reset index of training and testing sets
x_train.reset_index(drop=True, inplace=True); y_train.reset_index(drop=True, inplace=True)
x_test.reset_index(drop=True, inplace=True);  y_test.reset_index(drop=True, inplace=True)

print('Train sz:',len(x_train), len(y_train))
intrusion_train = y_train.loc[y_train == 1]
normal_train = y_train.loc[y_train == 0]
print('Train set: Intrusion vs. Normal cases', len(y_train.iloc[intrusion_train] ), len(y_train.iloc[normal_train] ))

print('Test sz:', len(x_test), len(y_test))
intrusion_test = y_test.loc[y_test == 1]
normal_test = y_test.loc[y_test == 0]
print('Test set: Intrusion vs. Normal cases', len(y_test.iloc[intrusion_test] ), len(y_test.iloc[normal_test] ))

Df sz: (351334, 26)
Train sz: 245933 245933
Train set: Intrusion vs. Normal cases 115034 130899
Test sz: 105401 105401
Test set: Intrusion vs. Normal cases 49198 56203

## **Data Cleaning**
**Remove Overlap between Train and Test**
--> Ensures reliability in model performance

**Remove Dupplicate or Frequent Data in Test""
--> Ensures a fair evaluation because if Test has a lot of dupplication, model will either classify all dupplication correctly or incorrectly --> Not fair and not reliable in evaluating model performance

In [80]:
## Get % of duplicates in both datasets

# Convert normal df to set, and intrusion df to set
def clean_data(normal, intrusion):
  normal_list = normal.values.tolist()
  intrusion_list = intrusion.values.tolist()
  normal_set = set(tuple(i) for i in normal_list)
  intrusion_set = set(tuple(i) for i in intrusion_list)
  print('List sz vs. Set sz of normal sequences: %d vs. %d'% (len(normal_list),len(normal_set)) )
  print('List sz vs. Set sz of intrusion sequences: %d vs. %d'% (len(intrusion_list),len(intrusion_set)) )
    
  normal_dupplication = (len(normal_list) - len(normal_set)) /len(normal_list)*100 
  intrusion_duplication = (len(intrusion_list)-len(intrusion_set))/len(intrusion_list) * 100

  print('Duplication Rate in Normal Class: %.3f%%'% normal_dupplication )
  print('Duplication Rate in Intrusion Class: %.3f%%'% intrusion_duplication) 
 
  c_intrusion = intrusion_set - normal_set 
  overlap_rate =  len(normal_set.intersection(intrusion_set)) / len(normal_set.union(intrusion_set)) * 100
  print('Overlap rate: %.3f%%' % overlap_rate)
  
  #c_normal = normal_set - intrusion_set
  if len(c_intrusion) == 0:
    print(DATA+' No Duplication!')
  if len(c_intrusion) > 0:
    intrusion = pd.DataFrame(c_intrusion)
  else:
    intrusion = pd.DataFrame(intrusion_set)
  #if len(c_normal) > 0:
  #  normal = pd.DataFrame(c_normal)
  #else:
  normal = pd.DataFrame(normal_set)

  print('After cleaning: \nNormal sz:', len(normal), ' Intrusion sz:', len(c_intrusion) )
  return normal, intrusion


def remove_overlap2(train, test):
  train_list = train.values.tolist()
  test_list = test.values.tolist()
  train_set = set(tuple(i) for i in train_list)
  test_set = set(tuple(i) for i in test_list)
  print('List sz vs. Set sz of training sequences: %d vs. %d'% (len(train_list),len(train_set)) )
  print('List sz vs. Set sz of testing sequences: %d vs. %d'% (len(test_list),len(test_set)) )
    
  train_dupplication  = (len(train_list) - len(train_set)) /len(train_list)*100 
  test_duplication    = (len(test_list) - len(test_set))/len(test_list) * 100

  print('Duplication Rate in training set: %.3f%%'% train_dupplication )
  print('Duplication Rate in test Class: %.3f%%'% test_duplication) 

  intersect = train_set.intersection(test_set)
  intersection_df = pd.DataFrame.from_dict(intersect).rename(columns={25:'Label'})
  independent_test = pd.merge(intersection_df, test, how = 'outer', indicator = True).query('_merge=="right_only"').drop(columns = '_merge')

  return independent_test

In [81]:
independent_test = remove_overlap2(x_train, x_test)
independent_test

List sz vs. Set sz of training sequences: 245933 vs. 1921
List sz vs. Set sz of testing sequences: 105401 vs. 1477
Duplication Rate in training set: 99.219%
Duplication Rate in test Class: 98.599%

          0    1    2    3    4    5    6  ...   19   20   21   22   23   24  Label
105235    7   56  119    2    3    2    3  ...    4    2   18    3    5    8      0
105236  100  100  100  100   50   88  100  ...    2   18    3    5   56    7      1
105237    5  112   19   93   19  100  100  ...  112    5   17    4  127    2      1
105238   56  119    2   -1   -1   -1   -1  ...   -1   -1   -1   -1   -1   -1      0
105239   50   23  155    4   50   27    2  ...  100  100  100  100   50   88      0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
105396    8   50    3  105  104  104  106  ...    9    9    9    9    9    5      1
105397    5   56    7   56  119  119    3  ...    2    3    2    3    2  105      0
105398    4   56    7   56  119    2    3  ...    8   50    3  105  104  104      1
105399    3    3    3    5    4    2   18  ...   -1   -1   -1   -1   -1   -1      1
105400    4   56    7   56  119    2    3  ...  104  104  106  105  104  104      0

[166 rows x 26 columns]

intersect = remove_overlap2(x_train, x_test)
intersection_df = pd.DataFrame.from_dict(intersect).rename(columns={25:'Label'})

intersection_df

In [82]:
x_test

          0    1    2    3    4    5    6  ...   19   20   21   22   23   24  Label
0        66    5   23   45    4   27   66  ...    5  105  104  104  106  105      1
1        56  119  119    3    3    3    3  ...  105  104  104  106  105  104      1
2         5    4    2   66   66   66    5  ...  104  106  105  104  104  106      1
3         2    3    2    3    2    3    2  ...    3    2    3    2    3    2      0
4         5    5    5   -1   -1   -1   -1  ...   -1   -1   -1   -1   -1   -1      0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
105396    5   50   50   27    4   27   88  ...    5  155    4   50   27    2      0
105397  104  104  106  105  104  104  106  ...    5    3    5    5   -1   -1      1
105398   17    4  127    2   18    3    5  ...   27  105  104  104  106  105      1
105399  104  106  105  104  104  106    9  ...   -1   -1   -1   -1   -1   -1      1
105400  104  104  106  105  104  104  106  ...   -1   -1   -1   -1   -1   -1      1

[105401 rows x 26 columns]

In [83]:
# Check how much data have left after condensing it as a set
a = independent_test.values.tolist()
a_set = set(tuple(i) for i in a)
len(a_set)

139

left = pd.DataFrame({'ID': [1,2,3,1,4], 'name': ['Ngan', 'Juan', 'Dave', 'Ngan', 'JD']})
right = pd.DataFrame({'ID': [2,2,4], 'name': ['Natti', 'Natti', 'JD']})

pd.merge(left, right, how='outer', indicator=True).query('_merge=="left_only"')

In [84]:
# Split test data in 2 proportions: Clean and Unclean
# Clean: clean test data to test the models
# Unclean: leave test data as is to test the models.

x_test = independent_test.copy()
test_clean = x_test.sample(frac = 0.5)
test_unclean = x_test.drop(test_clean.index)

test_clean

          0    1    2    3    4    5    6  ...   19   20   21   22   23   24  Label
105377    5   32   17    4    2    5    4  ...   32   17    4    2    5    4      0
105380    5    4   56    7   56  119    2  ...    5    8   50    3  105  104      1
105369    3    3    3    3   32   17    4  ...    3    2    3    2    5    3      0
105259  105  104  104  106   83   59    4  ...  167  167  167   17    5    4      0
105342  104  106   83   59    4    2    2  ...    5    4   50   27    2    5      0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
105321    2    5   32    4   56    7   56  ...    3    2  105  104  104  106      0
105261  106  105  104  104  106    9    9  ...   -1   -1   -1   -1   -1   -1      1
105317    2   18    3    5   56    7   56  ...    3    2    3    2    5    3      0
105241  104  104  106   83   59    4    2  ...   17    5    4   50   27    2      0
105381  104  106  105  104  104  106  105  ...    4   27   88  167  167  167      0

[83 rows x 26 columns]

In [85]:
test_unclean

          0    1    2    3    4    5    6  ...   19   20   21   22   23   24  Label
105235    7   56  119    2    3    2    3  ...    4    2   18    3    5    8      0
105237    5  112   19   93   19  100  100  ...  112    5   17    4  127    2      1
105238   56  119    2   -1   -1   -1   -1  ...   -1   -1   -1   -1   -1   -1      0
105240   56  119    2    3    2    3    2  ...  105  104  104  106  105  104      0
105243  104  104  106  105  104  104  106  ...   27    4   27   88  167  167      0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
105394    2   -1   -1   -1   -1   -1   -1  ...   -1   -1   -1   -1   -1   -1      0
105396    8   50    3  105  104  104  106  ...    9    9    9    9    9    5      1
105397    5   56    7   56  119  119    3  ...    2    3    2    3    2  105      0
105399    3    3    3    5    4    2   18  ...   -1   -1   -1   -1   -1   -1      1
105400    4   56    7   56  119    2    3  ...  104  104  106  105  104  104      0

[83 rows x 26 columns]

In [86]:
# Separate normal and intrusion in Test Clean so that I can call func clean_data on them

## Filter normal data from Test and drop label column
filt = test_clean.loc[:, 'Label'] == 0
test_clean_normal = test_clean.loc[filt]
test_clean_normal.drop(columns = 'Label', inplace = True)

## Filter Intrusion data from Test and drop label column
test_clean_intrusion = test_clean.loc[~filt]
test_clean_intrusion.drop(columns = 'Label', inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [87]:
test_clean_normal, test_clean_intrusion = clean_data(test_clean_normal, test_clean_intrusion)

List sz vs. Set sz of normal sequences: 62 vs. 55
List sz vs. Set sz of intrusion sequences: 21 vs. 21
Duplication Rate in Normal Class: 11.290%
Duplication Rate in Intrusion Class: 0.000%
Overlap rate: 0.000%
After cleaning:
Normal sz: 55  Intrusion sz: 21

In [88]:
test_clean_normal

     0    1    2    3    4    5    6   ...   18   19   20   21   22   23   24
0    50   27    2   19    4  127   66  ...  100  143  128   85   89  105  104
1     7   56  119  119    3    3    3  ...  104  104  106  105  104  104  106
2     3    3    3   56    7   56  119  ...    5    3    3    3    5    4    2
3     4   18    2    5  155    4   50  ...   19   93   19  100  100  100  100
4   104  106   83   59    4    2    2  ...  167   17    5    4   50   27    2
5     5   17    4  127    2   18    3  ...   32   50    3  105  104  104  106
6     3    3    3    3   32   17    4  ...    2    3    2    3    2    5    3
7     4   56    7   56  119    2    3  ...    3    2    5    3    3    3    3
8   105  104  104  106   83   59    4  ...  167  167   17    5    4   50   27
9     2   18    3    5   56    7   56  ...  104  104  106  105  104  104  106
10   93  100    5  112   19   93   19  ...  121  112    5   17    4  127    2
11    5   32   17    4    2    5    4  ...    5    5    4    2   18    3    5
12    3    3    5   32   17    4    2  ...    3    2    3    2    3    2    5
13   50   50   50   23  155    4   50  ...   19   93   19  100  100  100  100
14  119    3    3   32   17    4    2  ...    3    2    3    2    5    3    3
15  104  104  106  105  104  104  106  ...  106   83   59    4    2    5   50
16  104  106   83   59    4    2    5  ...   50   27    2    5    4   18    2
17    2    5   32    4   56    7   56  ...    2    3    2  105  104  104  106
18   56  119    2    3    2    3    2  ...   32   17    4    2    5    4   56
19   56  119  119    3    3    3    3  ...    3    3    3    5    4    2   18
20    3    3    3    5   32   17    4  ...    3    3    3    5    5    4    2
21  119    3    3   32   17    4    2  ...    2    3    2    5    3    3    3
22    7   56  119    2    3    2    3  ...  104  106  105  104  104  106  105
23    2   18    3    5   56    7   56  ...    2    3    2    3    2    5    3
24    3    3    5    4    2   18    3  ...    4    2   66   66    4  138   66
25  104  104  106  105  104  104  106  ...   -1   -1   -1   -1   -1   -1   -1
26  104  106  105  104  104  106  105  ...    2    5   50   50   27    4   27
27   18    3    5   56    7   56  119  ...  104  106  105  104  104  106  105
28    3    3   56    7   56  119    2  ...  106  105  104  104  106  105  104
29  104  106  105  104  104  106  105  ...   50   27    4   27   88  167  167
30    3    3    3    3    3    3    3  ...    9   93   94    3    2    5    5
31  105  104  104  106  105  104  104  ...    5    5   -1   -1   -1   -1   -1
32   56  119  119    3    3   32   17  ...    2    3    2    3    2    5    3
33  104  106   83   59    4    2    2  ...   17    5    4   50   27    2    5
34   50   23  155    4   50   27    2  ...   19  100  100  100  100   50   88
35    3    3    3    3    3    3    3  ...   93   94    3    2    5    5    5
36    7   56  119    2    3    2    3  ...    5    3    3    3    3    3    3
37    3    3    3    3    3    3    3  ...    3    3    3    3    3    5    9
38  104  104  106  105  104  104  106  ...    2    5   50   27    4   27   88
39    7   56  119    2    3    2    3  ...    5   32   17    4    2    5    4
40    2   18    3    5   56    7   56  ...    2   -1   -1   -1   -1   -1   -1
41  104  106  105  104  104  106  105  ...   83   59    4    2    5   50   27
42  104  106  105  104  104  106  105  ...   27    4   27   88  167  167  167
43    2    3    2    5    3    3    3  ...    2    3    2    5    3    3    3
44   32   17    4    2    5    4   56  ...    2    3    2    5    3    3    3
45   50   50   50   23  155    4   50  ...   19   93   19  100  100  100   50
46    5   32    4   56    7   56  119  ...    3    2  105  104  104  106  105
47    5   32   17    4    2    5    4  ...    5   32   17    4    2    5    4
48    3    3    3    3    3    3    3  ...    3    3    3    3    5    9    5
49  104  104  106  105  104  104  106  ...   50   27    4   27   88  167  167
50   18    2    5  155    4   50   27  ...   93   19  100  100  100  100   50
51  104  104  106   83   59    4    2  ...  167   17    5    4   50   27    2
52  104  106  105  104  104  106    5  ...   -1   -1   -1   -1   -1   -1   -1
53  105  104  104  106   83   59    4  ...   88  167  167  167   17    5    4
54    4  138   66    5   23   45    4  ...   66   66   66    5    4    2   66

[55 rows x 25 columns]

In [89]:
test_clean_intrusion

     0    1    2    3    4    5    6   ...   18   19   20   21   22   23   24
0    50    3  105  104  104  106  105  ...    9    9    9    9    9    5    5
1     3    3    3    3   32   17    4  ...    3    5    8    9    5    5    5
2     5    4    2   18    3    5    8  ...  104  104  106  105  104  104  106
3    19   93   19  100  100  100  100  ...    5   17    4  127    2   18    3
4   104  106  105  104  104  106  105  ...   -1   -1   -1   -1   -1   -1   -1
5    27    2   19    4  127   66    5  ...  143  128   85   89  128   89  121
6     9    9    5    5    5   -1   -1  ...   -1   -1   -1   -1   -1   -1   -1
7    93  100    5  112   19   93   19  ...  128   89  121  112    5   17    4
8   106  105  104  104  106    9    9  ...   -1   -1   -1   -1   -1   -1   -1
9     4   56    7   56  119    2    3  ...    5    8   50    3  105  104  104
10    4  127    2   18    3    5   56  ...    4    2    5    4   56    7   56
11    4    2   18    3    5    8    9  ...   -1   -1   -1   -1   -1   -1   -1
12    5    4   56    7   56  119    2  ...    3    5    8   50    3  105  104
13  105  104  104  106  105  104  104  ...   -1   -1   -1   -1   -1   -1   -1
14  100  100  100  100   50   88  100  ...  127    2   18    3    5   56    7
15    7   56  119  119    3    3    3  ...    3    5    4    2   18    3    5
16    7   56  119    2    3    2    5  ...   50    3  105  104  104  106  105
17    5   93  100    5  112   19   93  ...   89  128   89  121  112    5   17
18  104  106  105  104  104  106    9  ...   -1   -1   -1   -1   -1   -1   -1
19  112   19   93   19  100  100  100  ...  112    5   17    4  127    2   18
20  105  104  104  106    9    9    9  ...   -1   -1   -1   -1   -1   -1   -1

[21 rows x 25 columns]

In [90]:
# Add label back to data
test_clean_normal['Label'] = 0
test_clean_intrusion['Label'] = 1
test_clean = test_clean_normal.append(test_clean_intrusion, ignore_index= True)

test_clean
## Save Train, Test Clean and Test Unclean data
# Save cleaned train and test sets

      0    1    2    3    4    5    6  ...   19   20   21   22   23   24  Label
0    50   27    2   19    4  127   66  ...  143  128   85   89  105  104      0
1     7   56  119  119    3    3    3  ...  104  106  105  104  104  106      0
2     3    3    3   56    7   56  119  ...    3    3    3    5    4    2      0
3     4   18    2    5  155    4   50  ...   93   19  100  100  100  100      0
4   104  106   83   59    4    2    2  ...   17    5    4   50   27    2      0
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
71    7   56  119    2    3    2    5  ...    3  105  104  104  106  105      1
72    5   93  100    5  112   19   93  ...  128   89  121  112    5   17      1
73  104  106  105  104  104  106    9  ...   -1   -1   -1   -1   -1   -1      1
74  112   19   93   19  100  100  100  ...    5   17    4  127    2   18      1
75  105  104  104  106    9    9    9  ...   -1   -1   -1   -1   -1   -1      1

[76 rows x 26 columns]

In [91]:
x_train.to_csv('train.csv', index=False)
test_clean.to_csv('test_clean.csv', index=False)
test_unclean.to_csv('test_unclean.csv', index=False)